<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="header_left">
                    <img src="../../../assets/img/logo.jpg" alt="logo" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="headerRight">
                    <div class="headerRightTop">
                        <span><a href="javascript:;"><i class="fa fa-bell-o"></i><sup class="customBadge">4</sup></a></span>
                        <span><a href="javascript:;">Contact Us</a></span>
                        <span><a href="javascript:;">Terms of use</a></span>
                        <span class="profile">
                            <div ngbDropdown class="d-inline-block">
                                <button id="dropdownBasic1" ngbDropdownToggle>Gowrishankar</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                  <button ngbDropdownItem>Action - 1</button>
                                  <button ngbDropdownItem>Another Action</button>
                                  <button ngbDropdownItem>Something else is here</button>
                                </div>
                              </div>
                        </span>
                    </div>
                    <p class="textRight">Micro Services Portal</p>
                </div>
            </div>
        </div>
        <div class="customNav">
            <a href="javascript:;" class="active">Design Factory</a>
            <a href="javascript:;">Translation Services</a>
            <a href="javascript:;">Survey Services</a>
        </div>
    </div>
</header>
<div class="subHeaderWrapper">
    <div class="container">
        <div class="subHeader">
            <a href="javascript:;" class="d-flex">
                <i class="fa fa-file-text-o"></i><sup class="customBadge">4</sup> My Orders
            </a>
            <a href="javascript:;" class="d-flex">
                <i class="fa fa-shopping-cart"></i><sup class="customBadge">3</sup> My Cart
            </a>
        </div>
    </div>
</div>